h3 {
  margin-top: 2rem;
}

.row .row {
  margin-top: 1rem;
  margin-bottom: 0;
}
[class*='col-'] {
  padding-top: 1rem;
  padding-bottom: 1rem;
  /*background-color: rgba(86,61,124,.15);*/
  border: 1px solid rgba(86, 61, 124, 0.2);
}

hr {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

/*
  Ripped from https://onlywei.github.io/explain-git-with-d3/
*/

.console {
  overflow: auto;
  max-height: 500px;
}

.control-box {
  display: inline-block;
  position: absolute;
  top: 0px;
  bottom: 0;
  width: 250px;
  vertical-align: bottom;
  background-color: #000;
  border: 1px dotted #aaa;
  margin-top: 50px;
}

.control-box button {
  font-family: Courier New;
  font-size: 12px;
  margin-right: 5px;
  margin-bottom: 5px;
}

.control-box .log {
  overflow-y: auto;
  position: absolute;
  top: 0px;
  bottom: 20px;
  left: 0;
  right: 0;
  border-bottom: 1px solid #aaa;
}

.control-box .log,
.control-box input[type='text'] {
  font-family: Courier New;
  font-size: 14px;
}

.control-box .log .info,
.control-box .log .error {
  font-size: 12px;
  padding: 5px;
}

.control-box .log .command-entry {
  padding-left: 15px;
  color: #fff;
  line-height: 14px;
  background: url(prompt.gif) no-repeat left center transparent;
}

.control-box input[type='text'] {
  position: absolute;
  bottom: 0;
  padding-left: 15px;
  color: #fff;
  line-height: 14px;
  background: url(prompt.gif) no-repeat left center transparent;
}

.control-box .log .info {
  color: #ffc;
}

.control-box .log .error {
  color: #fcc;
}

.control-box input[type='text'] {
  width: 235px;
  border: none;
}

.view {
  min-height: 100vh;
}
